.layout-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f8fafc; /* slate-50 */
}

.layout-content {
  flex: 1;
  background-color: #f8fafc;
  overflow-y: auto;
}





